.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.col {
  flex-basis: 32%; }

.card__text {
  position: relative;
  max-width: 23.6rem;
  margin: 0 auto;
  margin-top: -8rem;
  padding: 1.79rem 2.14rem;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03); }

.card__title {
  font-family: 'Yeseva One', cursive;
  font-size: 1.29rem; }

.card__list {
  padding: 0 0 0 1rem;
  margin: 0;
  font-size: 1.07rem;
  line-height: 1.79rem; }
